body{
	background-color:lightgreen;
}
table{
	margin:10px auto;
}
td.card{
	width:80px;
	height:120px;
	margin:2px;
	background-size:cover;
}
#time{
	margin:0 auto;
	width:10vw;
	height:5vh;
	background-color:white;
	text-align:center;
	font-size:3vh;
	border:2px solid black;
}
td.card.back{
	background-image:url(../images/z01.gif) !important;
}
/*ここからアニメーション処理*/
.fadeOut{
	animation:fadeOut 1.5s ease-in-out;
	animation-fill-mode:forwards;
}
@keyframes fadeOut{
	from{
		opacity:1;
	}
	to{
		opacity:0;
		display:none;
	}
}
